
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Phone */
@media (min-width: 320px) and (max-width: 767px) {
.judul{font-size: 16px;}
th{font-size: 14px;}
.price{font-size: 14px;}

}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.judul{font-size: 16px;}
	th{font-size: 14px;}

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 991px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) { ... }